<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Doe sangue! Doe vida!</title>

		<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/style.css">
		
	</head>
	<body>
		<header>
			<img src="/logo.png" alt="DOE" class="logo">
			<h2>A sua doação importa</h2>
			<p>Até 3 vidas com 1 doação</p>
			<p>Mais de 38.000 doações são necessárias todos os dias</p>
			<p>Apenas 1,9% da população brasileira, doa sangue.</p>
			<button>Quero ajudar</button>
		</header>
		<section class="form hide">
			<h2>Entre na lista de doadores</h2>
			<form action="/" method="post">
				<input type="text" name="name" placeholder="Nome Completo">
				<input type="email" name="email" placeholder="E-mail">
				<input type="text" name="blood" placeholder="Tipo Sanguíneo">
				<button>Quero doar!</button>
			</form>
		</section>
		<main>
			<h2>Últimos <span>Doadores</span></h2>
			<section class="donors">
				
				{% for donor in donors %}
					<div class="donor">
						<div class="blood">{{donor.blood}}</div>
						<p>{{donor.name}}</p>
					</div>
				{% endfor %}
				
			</section>
		</main>

		<footer>Feito com 💙 by Éderson F.</footer>
		<script src="/scripts.js"></script>

	</body>

</html>