
*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
}

body{
  display: flex; 
  flex-direction: column;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
}

h1, h2 {
  color: #000000cc;
}

header, main, footer{
  text-align: center;
}

header h1, main h2{
  margin-bottom: 70px;
}

.form h2{
  text-align: right;
  color: #ffffffee;
  font-size: 18px;
}

header, .form, main {
  width: 90%;
  max-width: 500px;
  margin: 0 auto 30px;
}

header button{
  margin-top: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #FF4f4f;
  color: #ffffff;
  font-weight: 700;
  border: none;
}

.logo{
  width: 150px;
  margin-top: 50px;
}

main h2 span{
  color: #ff4f4f;
}

main .donors{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.blood{
  color: #ff4f4f;
  font-weight: 700;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.blood::before{
  content: '';
  background-color: #ff4f4f11;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  border-top-right-radius: 0;
  transform: rotate(-45deg);
  
}

.donor p{
  margin: 24px 0 64px;
  font-size: 14px;
  font-weight: 700;
}

section.form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 45px;
  align-items: center;
  background-color: #ff4f4f;
  padding: 16px 64px;
  border-radius: 6px;
}

form input, form button{
  width: 100%;
  margin-bottom: 4px;
  padding: 8px 16px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ffffff88;
  
}
form button{
  background-color: #ffffff;
  font-weight: 700;
}
form input{
  background-color: transparent;
  color: #ffffff;
}
form input::placeholder{
  color: #ffffffaa;
}

footer{
  border-top: 1px solid #eeeeee;
  padding: 16px 0;
  margin-top: auto;
}

section.form{
  transition: all 300ms;
}

section.form.hide{
  opacity: 0;
  visibility: hidden;
  height: 0;
  margin-top: -70px;
}